@using System.Globalization
@model IEnumerable<Antiques_Auction_WebApp.Models.Entities.AntiqueItem>
@{
    ViewData["Title"] = "Dashboard";
    CultureInfo ci = new CultureInfo("en-us");
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row d-flex justify-content-between">
                            <div class="pl-3">
                                <h4 class="card-title poppins" style="margin-bottom:0px;">All Antique Items</h4>
                            </div>
                            <div class="pr-3">
                                <a class="roboto-condensed" asp-controller="AntiqueItem" asp-action="Create"><i class="fas fa-plus"></i> Add Antique Item</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="table table-striped table-hover" style="text-align:center;vertical-align:middle !important;">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Auction Opened</th>
                                        <th scope="col">Auction Closed</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                            <tr scope="row" style="text-align:center;vertical-align:middle !important;">
                                                <td><img src="~/AntiqueItemImages/@item.ImageUrl" asp-append-version="true"
                                                class="img-fluid" style="width:100px"></td>
                                                <td>@item.Name</td>
                                                <td>@item.Price.ToString("C", ci)</td>
                                                <td>@item.Description</td>
                                                <td>@item.AuctionOpenDateTime.ToString("f", CultureInfo.CreateSpecificCulture("en-US"))</td>
                                                <td>@item.AuctionCloseDateTime.ToString("f", CultureInfo.CreateSpecificCulture("en-US"))</td>
                                                <td><a asp-controller="AntiqueItem" asp-action="Update" asp-route-id="@item.Id"><i class="fas fa-pen" style="color: black;"></i></a></td>
                                                <td><a asp-controller="AntiqueItem" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash" style="color: red;"></i></a></td>
                                            </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#basic-datatables').DataTable({
            "order": [[2, "asc"]],
            "columnDefs": [
                { searchable: false, targets: [0, 6, 7] },
                { orderable: false, targets: [0, 3, 6, 7] }
            ],
            pageLength: 10,
            aLengthMenu: [
                [10, 50, 100, -1],
                [10, 50, 100, "All"]
            ],
            iDisplayLength: -1
        });
    });
</script>